<!-- app/views/user_mailer/welcome_email.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to My Awesome Site!</h1>
  <p>Hello <%= @user.name %>,</p>
  <p>Thank you for joining us. We're excited to have you on board!</p>
  <p>Best regards,<br> The My Awesome Site Team</p>
</body>
</html>
